[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopengl-accelerate = "*"
wxpython = "*"
pyopengl = "*"
briefcase = "*"

[dev-packages]

[requires]
python_version = "3.13"
